/* Global view / large screen view  */
body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

header {
	min-height: 20px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.logo {
	height: clamp(90px, 100%, 200px);
	width: clamp(120px, 25%, 500px);
}

.logo img {
	height: 100%;
	width: 100%;
	display: block;
}

nav {
	width: 70%;
	display: flex;
	align-items: center;
}

.navbutton {
	padding: 7px; 
	margin: auto;
	text-decoration: none;
	font-size: clamp(11px, 1vw, 25px);
	font-weight: 700;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.navbutton:hover {
	background-color: black;
	transition-duration: 0.75ms;
	color: white;
	border-color: white;
	border-style: double;
}

i {
	font-size: clamp(20px, 5vw, 25px);
	margin: 0 10px;
}

.nav-wrapper {
	display: none;
}

.mybutton {
	display: block;
	text-decoration: none;
	text-align: center;
	color: black;
	padding: 5px;
	font-size: clamp(10px, 1.3vw, 12px);
	font-weight: 600;
	margin-left: -60px;
	background-color: rgba(97, 88, 88, 0.103);
}

.mybutton:hover {
	background-color: black;
	transition-duration: 0.75ms;
	color: white;
	border-color: white;
	border-style: double;
}

.menu-bar {
	display: none;
	position: absolute;
	padding-right: 7px;
}


/* small screen view */
@media (max-width: 990px) {

nav {
	width: 100%;
	display: none;
}	

.nav-wrapper {
	display: block;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-bar {
	display: none;
}

}

main {
	min-height: 60px;
	margin-bottom: 20px;
}

main img {
	width: 100%;
	height: 100%;
	display: block;
} 

.herobox {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.herobox1, .herobox2, .herobox3 {
	height: 25vw;
	width: 32%;
	background-position: center;
	background-size: cover;
	display: flex;
	padding: 0;
}

.herobox1 {
	background-image: url(https://i.postimg.cc/fRqZ7Gjs/quinceanera.jpg);
}

.herobox2 {
	background-image: url(https://i.postimg.cc/CxRPnXc9/prom-dress.jpg);
}

.herobox3 {
	background-image: url(https://i.postimg.cc/Kc1TnbPG/anos-dresses1.jpg);
}

.herobox4 {
	height: 90%;
	width: 90%;
	margin: auto;
	border: 1px solid white;
	display: flex;
}

.herobox5 {
	height: 30%;
	width: 75%; 
	margin: auto;
	background-color: rgba(233, 227, 227, 0.562);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
} 

p {
	color: rgb(94, 89, 89);
	font-size: clamp(11px, 1.7vw, 60px);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.arrivals {
	height: clamp(60px, 10vw, 200px);
	width: clamp(200px, 30%, 800px);
	margin: auto;
}

.arrivals img {
	height: 100%;
	width: 100%;
}

.cards {
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.icard {
	height: 35vw;
	width: 30%;
	margin-bottom: 20px;
}

.icard img {
	height: 100%;
	width: 100%;
}

.brand-header {
	height: clamp(60px, 10vw, 200px);
	width: clamp(200px, 30%, 800px);
	margin: auto;
	margin-bottom: 10px;
}

.brand-header img {
	height: 100%;
	width: 100%;
}

.brands {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

.brands p {
	font-size: clamp(8px, 2vw, 40px);
}
.brand-box{
	background-color: #f8f8f8;
}
footer {
	background-color: #333333;
	padding: 20px 0;
}

.footer-logo {
	height: clamp(60px, 8vw, 200px);
	width: clamp(130px, 20%, 500px);
	/* height: 8vw;
	width: 20%; */
	margin: auto;
	margin-bottom: 20px;
}

.footer-logo img {
	height: 100%;
	width: 100%;
}

ul.social {
	margin: auto;
	padding-bottom: 20px;
	padding-left: 0;
	width: 80%;
	text-align: center;
	border-bottom: 2px solid white;
  }
  
  ul.social > li {
	display: inline-block;
  }
  
  ul.social > li > a {
	display: inline-block;
	text-align: center;
	font-size: clamp(22px, 3vw,80px);
    line-height: clamp(30px, 4vw,100px);
    width: clamp(30px, 4vw,100px);
    height: clamp(30px, 4vw,100px);
    border-radius: clamp(30px, 4vw,100px);
	background-color: white;
	color: black;
  }
  
  ul.social > li > a:hover {
	text-decoration: none;
	background-color: #ee7c22;
  }

  footer p {
	  text-align: center;
	  color: white;
	  font-size: clamp(8px, 1.2vw, 70px);
	  padding-top: 10px;
  }

/* Tablet view */
@media (max-width: 770px) {
	.icard {
		height: 55vw;
		width: 47%;
	}
}

/* Mobile view */
@media (max-width: 450px) {
	.herobox {
		display: block;
	}

	.herobox1, .herobox2, .herobox3 {
		height: 70vw;
		width: 100%;
		margin-bottom: 20px;
	}

	p {
		font-size: clamp(15px, 1.7vw, 30px);
	}

	.arrivals {
		margin-bottom: 20px;
	}

	.cards {
		display: block;
	}

	.icard {
		height: 110vw;
		width: 100%;
	}
}



